* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow: hidden; */
}

body{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    background: #f5f1e8;
    overflow: hidden;

}

h1{
    margin-top: 50px;
    font-size: 80px;
    padding-bottom: 30px;
    color: #6a665d;
    font-family: Great Vibes, cursive;
    font-weight: bold;
}

.book{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 550px;
    width: 450px;
    margin-bottom: 80px;
    background: #d9d2c1;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}
.firstContainer{
    display: flex;
    padding: 15px;
    width: 40px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    background: #e9e2d3;
}

.aboutPic{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    transition: transform 0.4s ease;
}

.aboutPic:hover {
    transform: translateY(-5px);
    
}

.secondContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 350px;
    background: #e9e2d3;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

button {
    cursor: pointer; 
    margin-top: 80px;
    padding: 10px;
    font-size: 20px; 
    color: #f5f1e8; 
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #3b2f2f; 
    border-radius: 10px;
    border: none;
    animation: breathe 2s ease-in-out infinite;
}

@keyframes breathe {
    0% {transform: scale(1);}
    50% {transform: scale(1.1);}
    100% {transform: scale(1);}
}

button:hover {
    background: #302727;
}

.book1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-bottom: 65px;
}

.firstPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 500px;
    background: #d9d2c1;
    border-radius: 15px 6px 6px 15px;
}

h2{
    font-size: 60px;
    font-family: Great Vibes, cursive;
    color: #6a665d;
    font-weight: bold;
    margin-bottom: 20px;
}

.secondPage {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 500px;
    background: #d9d2c1;
    border-radius: 6px 15px 15px 6px;
}

.middle{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 6px;
    background: #b7b1a3;
    border-radius: 10px;
}

.name{
    font-size: 25px;
    padding-top: 20px;
    font-family: Poppins, sans-serif;
    font-weight: bold;
    color: rgb(5, 23, 9);
}

.innerPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 550px;
    width: 450px;
    background: #e9e2d3;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.aboutText{
    margin-top: 10px;
    padding: 15px;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #2b1f1a;
    text-align: justify;
    line-height: 1.6;
}

.skills {
    display: flex;
    justify-content:space-between;
    text-align: center;
    margin-top: 20px;
    gap: 20px;
}

.skillIcon {
    width: 100px;
    height: 100px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.skillIcon:hover {
    transform: scale(1.1);
    transition: transform 0.3s;
}


.sidebar{
    font-family: 'Poppins', sans-serif;
    position: absolute;
    left: 0;
    top: 0;
    width: 80px;
    height: 100vh;
    background: #5b5851;
    padding: 0 0.4rem 0.8rem;
    transition: all 0.5s ease;
    border-right: 1px solid rgba(255, 255, 255, 0.15);
    box-shadow: 4px 0 12px rgba(0, 0, 0, 0.3);
}

.sidebar.active ~ .main-content{
    margin-left: 250px;
    width: calc(100% - 250px);
}

.sidebar.active{
    width: 250px;
}

.sidebar #btn {
    position: absolute;
    color: #fcfbfb;
    top: 0.4rem;
    font-size: 1.2rem;
    line-height: 50px;
    cursor: pointer;
}

.sidebar.active #btn {
    left: 90%;
}

.sidebar .top .logo {
    color:#fcfbfb;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    pointer-events: none;
    opacity: 0;
    margin-top: 8px;
}

.sidebar.active .top .logo {
    opacity: 1;
}

.top .logo i {
    font-size: 2rem;
    margin-right: 5px;
}

.user{
    display: flex;
    align-items: center;
    margin: 1rem 0;
}

.user p {
    color: #fcfbfb;
    margin-left: 0.5rem;
}

.sidebar p {
    opacity: 0;
}

.sidebar.active p {
    opacity: 1;
}

.sidebar ul li {
    position: relative;
    list-style: none;
    height: 50px;
    width: 90%;
    margin: 0.7rem auto;
}

.sidebar ul li a {
    color:#fcfbfb;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 0.8rem;
}

.sidebar ul li a:hover {
    background: #1c1c1c;
    color: #f5f1e8;
}

.sidebar ul li a i {
    min-width: 50px;
    text-align: center;
    height: 50px;
    border-radius: 12px;
    line-height: 50px;
}

.sidebar .nav-item {
    opacity: 0;
}

.sidebar.active .nav-item {
    opacity: 1;
}

.sidebar ul li .tooltip {
    position: absolute;
    margin-left: 125px;
    top: 50%;
    transform: translate(-50% 50%);
    box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.2);
    border-radius: 0.6rem;
    padding: 0.4rem 1.2rem;
    line-height: 1.8rem;
    z-index: 20;
    opacity: 0;
}

.sidebar ul li:hover .tooltip {
    opacity: 1;
}

.sidebar.active ul li .tooltip {
    display: none;
}

.main-content{
    min-height: 100vh;
    margin-left: 80px;
    width: calc(100% - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.book {
    height: auto; /* change from fixed px */
    max-height: 90vh; /* optional: keeps it from being too tall */
}


.sidebar .socials {
    display: flex;
    justify-content:center;
    gap: 15px;
    position: absolute;
    bottom: 20px;
    width: 100%;
    opacity:0;
    transition: opacity 0.4s ease;
   
}

.sidebar.active .socials {
    opacity: 1;
}

.socials a {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #fcfbfb;
    transition: transform 0.3s, box-shadow 0.3s;
}

.socials a:hover {
    transform: scale(1.2);
    box-shadow: 0 6px 10px rgba(0,0,0,0.25);
}


.socials i {
    font-size: 2rem;
    margin-right: 20px;
    color:#5b5851;
    cursor:pointer;
    transition: transform 0.3s ease,
                color 0.3s ease,
                box-shadow 0.3s ease;
}

.socials i:hover{
    transform: scale(1.2);
    box-shadow:0 8px 20px rgba(0, 0, 0, 0.25);
}

.sidebar::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 4px;
    height: 100%;
    background: linear-gradient(
        to bottom,
        rgba(255,255,255,0.2),
        rgba(255,255,255,0.05)
    );
}

.page-header {
    position: sticky;
    top:0;
    z-index: 50;
    width: 100%;
    height: 70px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(8px);
    border-bottom: 1px solid rgba(32, 77, 52, 0.2)
}

.page-title {
    font-family:"Great Vibes", cursive;
    font-size: 36px;
    color: #6a665d;
    padding-top: 25px;
   
}

.page-date {
    font-size: 14px;
    color: #6a665d;
    opacity: 0.7;
    margin-top: 40px;
}

.header-left {
    display: flex;
    gap: 20px;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.mode-label {
    font-size: 14px;
    color:#6a665d;
    font-weight: 500;
}

.toggle-switch {
    position: relative;
    width: 50px;
    height: 26px;
}

.toggle-switch input {
    display: none;
}

.slider {
    position: absolute;
    inset: 0;
    background:#6a665d;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.4s;
}

.slider::before {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    left: 3px;
    bottom: 3px;
    background:#fff;
    border-radius: 50%;
    transition: 0.4s;
}

.toggle-switch input:checked + .slider {
    background: #222;
}

.toggle-switch input:checked + .slider::before {
    transform: translateX(24px);
}

/* WEBSITE MODE */
body.website-mode {
    background: #f5f5f5;
}

body.website-mode .page-title {
    font-family: "Inter", sans-serif;
    font-size: 28px;
    color: #1f2933;
}

body.website-mode .book {
    border-radius: 6px;
    box-shadow: none;
}

body.website-mode .sidebar {
    background: #1f2933;
}

body.website-mode .mode-label {
    color: #fff;
}

body, .page-header, .book, .sidebar, .socials a {
    transition: all 0.4s ease;
}

.lastContainer {
    display: flex;
    padding: 15px;
    width: 40px;
    height: 1000px;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    background: #e9e2d3;
    margin-left: 391px;

}

 .lastSocials {
    display: flex;
    justify-content:center;
    gap: 15px;
    width: 100%;
    transition: opacity 0.4s ease;
    margin-top:40px;
 }

 .lastSocials a {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #fcfbfb;
    transition: transform 0.3s, box-shadow 0.3s;
}

.lastSocials i {
    font-size: 2rem;
    cursor: pointer;
    color:#222;
    transition: transform 0.3s ease,
                color 0.3s ease,
                box-shadow 0.3s ease;
}


.lastSocials i:hover {
    transform: scale(1.2);
    box-shadow:0 8px 20px rgba(0, 0, 0, 0.25);
}
